<i
  title="Add"
  class="fa fa-plus"
  title="Add Product"
  (click)="addProduct()"
></i>
<table class="table productsTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td>{{ product.name }}</td>
      <td class="createdDateTd">{{ product.createdDate | date : "dd/MM/yyyy HH:mm:ss" }}</td>
      <td class="actionBtnsTd">
        <i
          title="Edit"
          class="fa fa-edit"
          (click)="editProduct(product.id)"
        ></i>
      </td>
      <td class="actionBtnsTd">
        <i
          title="Delete"
          class="fa fa-trash"
          (click)="deleteProduct(product.id, i)"
        ></i>
      </td>
    </tr>
  </tbody>
</table>
